# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp
# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
tests/source-images/watermark.jpg !text !filter !merge !diff
tests/source-images/city-amsterdam.png !text !filter !merge !diff
tests/source-images/city-amsterdam-jpg.png !text !filter !merge !diff
tests/source-images/city-amsterdam-jpg.gif !text !filter !merge !diff
tests/source-images/city-amsterdam-animated.gif !text !filter !merge !diff
tests/source-images/city-amsterdam-animated.jpg !text !filter !merge !diff
tests/source-images/city-amsterdam-non-transparent.gif !text !filter !merge !diff
tests/source-images/city-amsterdam.gif !text !filter !merge !diff
tests/source-images/city-amsterdam.jpg !text !filter !merge !diff
tests/source-images/sample-portrait.jpg !text !filter !merge !diff
tests/source-images/sample-square.jpg !text !filter !merge !diff
