<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    backupGlobals="false" 
    backupStaticProperties="false" 
    beStrictAboutOutputDuringTests="true" 
    bootstrap="./tests/phpunit/phpunit.php" 
    cacheDirectory=".phpunit.cache" 
    colors="true" 
    displayDetailsOnTestsThatTriggerDeprecations="true" 
    displayDetailsOnTestsThatTriggerErrors="true" 
    displayDetailsOnTestsThatTriggerNotices="true" 
    displayDetailsOnTestsThatTriggerWarnings="true" 
    processIsolation="false" 
    stopOnFailure="false" 
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd">
    <!-- see requirement in tests/phpunit/phpunit.php file. -->
    <testsuites>
        <testsuite name="dependent">
            <directory suffix="Test.php">./tests/phpunit/DependentTests</directory>
        </testsuite>
        <testsuite name="extensions">
            <directory suffix="Test.php">./tests/phpunit/ExtensionsTests</directory>
        </testsuite>
        <testsuite name="traits">
            <directory suffix="Test.php">./tests/phpunit/TraitsTest</directory>
        </testsuite>
        <testsuite name="classes">
            <directory suffix="Test.php">./tests/phpunit/Tests</directory>
        </testsuite>
        <testsuite name="imgprocess-gd">
            <directory suffix="GdTest.php">./tests/phpunit/ImageProcessTests</directory>
        </testsuite>
        <testsuite name="imgprocess-imagick">
            <directory suffix="ImagickTest.php">./tests/phpunit/ImageProcessTests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./Rundiz/Image/</directory>
        </include>
    </source>
    <php>
        <ini name="memory_limit" value="512M" />
    </php>
</phpunit>