<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="./tests/phpunit/phpunit.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         verbose="true"
         beStrictAboutOutputDuringTests="true"
>
	<testsuites>
		<testsuite name="tests/phpunit">
			<directory suffix=".php" phpVersion="7.2" phpVersionOperator="&lt;">./tests/phpunit/PHPB72/</directory>
			<file phpVersion="7.2" phpVersionOperator="&lt;">./tests/phpunit/PHPB72/CommonTestAbstractClass.php</file>

			<directory suffix=".php" phpVersion="7.2" phpVersionOperator=">=">./tests/phpunit/PHP72/</directory>
			<file phpVersion="7.2" phpVersionOperator=">=">./tests/phpunit/PHP72/CommonTestAbstractClass.php</file>
		</testsuite>
	</testsuites>
    <php>
        <ini name="memory_limit" value="512M" />
    </php>
</phpunit>